/* Global styles */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Styles for the entry wrapper */
.entry-wrapper {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3.5rem;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50px;
}

/* Styling for the logo */
.entry-logo {
    max-width: 200px; /* Adjust based on your logo's size */
    margin-bottom: 0.2rem; /* Space between the logo and the title */
    display: block; /* Ensure it's block level for margin to work */
    margin-left: auto; /* Center-align the logo */
    margin-right: auto;
}

/* Individual element styling */
.entry-title {
    margin-top: 0px;
    font-size: 3rem; /* Example size, adjust as needed */
    margin-bottom:-30px;
}

.entry-subtitle {
    font-size: 1.5rem;
    color: #666;
}

/* Adjusted for specificity and individual control */
.entry-wrapper .inputDiv {
    margin-top: 50px;
}

.entry-wrapper .inputDiv .paperInput,
.entry-wrapper .inputDiv .inputButton {
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.entry-wrapper .inputDiv .paperInput {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.entry-wrapper .inputDiv .inputButton {
    font-weight: bold;
    color: black;
    background-color: #ffd8b1;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.entry-wrapper .inputDiv .inputButton:hover {
    background-color: #d8bfa4;
}
