.graph-wrapper {
    border-color: black;
    border-style: solid;
    width: 75vw !important;
    height: 100vw !important;
}

.node__leaf > circle {
    fill: green;
}

.node__branch > circle {
    fill: yellow;
}