.inputButton {
    width: 100%;
    position: relative;
    color: black;
    background-color: #BFFF6D;
    align-items: center;
    margin-top: 10px;
}

.arxivLink{
    top: 0;
    width: 97%;
    height: 30px;
    align-items: center;
    position: relative;
}
