.main-wrapper {
    display: flex; /* Enables Flexbox layout */
    justify-content: space-between; /* Spreads the children with space between */
    align-items: start; /* Aligns items to start from the top */
}